@import "~src/sass/config";

.form-container {
  @media screen and (min-width: map-get($breakPoints, mobileMediumWidth)) {
    max-width: map-get($breakPoints, mobileMediumWidth);
    border: black 1px solid;
    margin: 50px auto 0 auto;
    height: auto;
  }
}
